.card {
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, 0.2);
  padding: $distance-3;
  box-shadow: map-get($elevation, 100);

  @media only screen and (max-width: 576px) {
    padding: $distance-2;
  }
}
