.forecast {
  &__title {
    font-weight: 800;
    font-size: 18px;
  }

  &__days-list {
    display: flex;
    align-items: center;
    margin-top: $distance-3;
    overflow-x: scroll;

    & .day {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 $distance-2;

      & .date {
        font-weight: 800;
        font-size: 14px;
        color: $primary-color;
      }

      & .img {
        height: 50px;
        width: 50px;
      }

      & .temp {
        font-weight: 800;
        font-size: 12px;
      }
    }
  }
}
