.home {
  display: flex;
  max-width: fit-content;
  margin: auto;
  padding: $distance-3 0;
  gap: $distance-2;
  color: white;

  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 576px) {
    margin: auto $distance-2;
  }

  & .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $distance-2;
    max-width: 700px;
  }
}
